<header class="container">
  <nav class="main-nav" id="js-navbar">
    <span class="flex align-items enlarge-link">
      <a href="{{ .Site.BaseURL }}{{ .Lang }}">
        <span class="logo visually-hidden">{{ i18n "gotohome" .}} {{ .Site.Title }}</span>
        <span class="logo-image" aria-hidden="true">
        {{ if eq .Lang "en" }}
          {{ readFile "static/images/logo-pierrot-en.svg" | safeHTML }}
        {{- else -}}
          {{ readFile "static/images/logo-pierrot.svg" | safeHTML }}
        {{ end }}
        </span>
      </a>
    </span>
    {{ if .IsTranslated }}
      {{ range .Translations }}
        <p class="nav-lang"><a href="{{ .RelPermalink }}">{{ i18n "linktoalternativeversion" .}}</a></p>
      {{ end }}
    {{ end }}
    <ul class="menu" id="js-menu">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
      <li class="menu-item">
        <span class="menu-link">{{ .Name }}<span class="drop-icon">▾</span></span>
        <ul class="sub-menu">
          {{ range .Children }}
            <li class="menu-item">
              <a href="{{ .URL }}" class="menu-link">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </li>
      {{ else }}
        <li class="menu-item">
          <a href="{{ .URL }}" class="menu-link">{{ .Name }}</a>
        </li>
      {{ end }}
      {{ end }}
    </ul>
  </nav>
</header>
