<header class="container">
  <nav class="main-nav" id="js-navbar">
    <span class="flex align-items enlarge-link">
      <span class="logo-image">{{ readFile "static/images/logo-pierrot.svg" | safeHTML }}</span>
      <a class="logo" href="{{ .Site.BaseURL }}" hidden>Aller à l’acceuil de {{ .Site.Title }}</a>
    </span>
    <ul class="menu" id="js-menu">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
      <li class="menu-item">
        <span class="menu-link">{{ .Name }}<span class="drop-icon">▾</span></span>
        <ul class="sub-menu">
          {{ range .Children }}
            <li class="menu-item">
              <a href="{{ .URL }}" class="menu-link">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </li>
      {{ else }}
        <li class="menu-item">
          <a href="{{ .URL }}" class="menu-link">{{ .Name }}</a>
        </li>
      {{ end }}
      {{ end }}
    </ul>
  </nav>
</header>
