{{ define "main" }}
<div class="container">
  <section class="page-header--c">
    <h1 class="page-header-title">{{ .Title }}</h1>
  </section>
</div>
<section class="generic-single">
  <div class="single-container markdown">
    {{ if .Content }}
    <div class="note">
      <h2>La petite histoire</h2>
      {{ .Content }}
    </div>
    {{ end }}
    {{ $path := printf "/essences/%s/" .Params.essence }}
    {{ $key := ((index (where ($.Site.GetPage "essences").Pages "RelPermalink" "in" (slice $path)) 0).Resources) }}
    {{ $images := cond (not $key) slice $key }}
    {{ with (.Resources.ByType "image") }}
    <h2>Galerie</h2>
    <div class="grid content-visibility-image">
      {{ $counter := 0 }}
      {{ range (shuffle (cond (gt (len $images) 0) (union . $images) .)) }}
      {{ $counter = add $counter 1 }}
        <figure>
        {{ $img_src := . }}
        {{ if $img_src }}
        <img class="feature-image img"{{ if gt $counter 3 }} loading="lazy"{{ end }} style="--lqip:235884"
          srcset="{{ ($img_src.Resize "500x webp").Permalink }} 480w, {{ ($img_src.Resize "800x webp").Permalink }} 800w"
          sizes="(max-width: 600px) 480px, 800px"
          src="{{ ($img_src.Resize "500x webp").Permalink }}"
          alt="">
        {{ end }}
      </figure>
      {{ end }}
    </div>
    {{ end }}
  </div>
</section>
<style>
  figure {
    margin: 0 !important;
  }
</style>
{{ end }}
