{{ define "main" }}
<div class="container--sm">
<div class="note">
  <p>{{ .Description | markdownify }}</p>
</div>
{{ partialCached "css.html" "css" "css" }}
<h2>Mes créations</h2>
<div class="grid">
  {{/* Shortcodes from page content  */}}
  {{ range (where (where .Site.Pages ".Section" "oeuvres") "Kind" "page").ByWeight }}
  <div class="flip-card-container">
  <div class="flip-card enlarge-link ">
    <div class="card-front">
      <figure>
        {{ $img_src := .Resources.GetMatch (delimit (first 1 (.Resources.ByType "image")) "") }}
        {{ if $img_src }}
        <link rel="preload" as='"image' srcset="{{ ($img_src.Resize "500x webp").Permalink }} 480w, {{ ($img_src.Resize "800x webp").Permalink }} 800w" href="{{ ($img_src.Resize "500x webp").Permalink }}">
        <img class="feature-image"
          srcset="{{ ($img_src.Resize "500x webp").Permalink }} 480w, {{ ($img_src.Resize "800x webp").Permalink }} 800w"
          sizes="(max-width: 600px) 480px, 800px"
          src="{{ ($img_src.Resize "500x webp").Permalink }}"
          alt="">
        {{ end }}
      </figure>
    </div>
    <div class="card-back">
      <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      <p>{{ .Description | markdownify }}</p>
    </div>
  </div>
  </div>
  {{ end }}
  </div>
  {{ partialCached "content.html" .Content .Content }}
</div>
{{ end }}
