{{ define "main" }}
{{- $filter     := images.Contrast -10 }}
{{- $avatar     := (((resources.Get "/illustration/avatar.jpg")).Resize "350x webp").Permalink  }}
{{- $background_s := (((resources.Get "/illustration/background-home.jpg").Filter $filter).Resize "800x webp").Permalink  }}
{{- $background_b := (((resources.Get "/illustration/background-home.jpg").Filter $filter).Resize "1600x webp").Permalink  }}
<link rel="preload "as="image" imagesrcset="{{ $background_s }} 1x, {{ $background_b }} 2x">
.background-image {
  background-image: image-set("{{ $background_s }}" 1x, "{{ $background_b }}" 2x);
  background-image: -webkit-image-set("{{ $background_s }}" 1x, "{{ $background_b }}" 2x);
}
<div class="background-image">
  <div div class="container--sm">
    <img src="{{ $avatar }}" class="avatar" alt="Avatar de Pierre Renault" width="150px">
  </div>
</div>
<div class="container--sm">
<br><br>
<div class="note">
  <p>{{ .Description | markdownify }}</p>
</div>
{{ partialCached "css.html" "css" "css" }}
<h2>Mes créations</h2>
<div class="grid content-visibility">
  {{/* Shortcodes from page content  */}}
  {{ $counter := 0 }}
  {{ range (where (where .Site.Pages ".Section" "oeuvres") "Kind" "page").ByWeight }}
  {{ $counter = add $counter 1 }}
  <div class="flip-card-container">
  <div class="flip-card enlarge-link ">
    <div class="card-front">
      <figure>
        {{- $img_src := .Resources.GetMatch (delimit (first 1 (.Resources.ByType "image")) "") }}
        {{- if $img_src }}
        <link rel="preload" as="image" srcset="{{ ($img_src.Resize "500x webp").Permalink }} 480w, {{ ($img_src.Resize "800x webp").Permalink }} 800w" href="{{ ($img_src.Resize "500x webp").Permalink }}">
        <img class="feature-image"{{ if gt $counter 3 }} loading="lazy"{{ end }} style="--lqip:235884"
          srcset="{{ ($img_src.Resize "500x webp").Permalink }} 480w, {{ ($img_src.Resize "800x webp").Permalink }} 800w"
          sizes="(max-width: 600px) 480px, 800px"
          src="{{ ($img_src.Resize "500x webp").Permalink }}"
          alt=""
          loading="lazy">
        {{ end -}}
      </figure>
    </div>
    <div class="card-back enlarge-link">
      <h3><a href="{{ .Permalink }}" class="zig-zag">{{ .Title }}</a></h3>
      <p>{{ .Description | markdownify }}</p>
    </div>
  </div>
  </div>
  {{ end -}}
  </div>
  {{ partialCached "content.html" .Content .Content }}
</div>
{{ end }}
